 /**Colores de la pagina**/
.b_colorWgreen{
    background-color: #319433;
}
.b_colorFcrayola{
    background-color: #c750c7;
}
.b_colorSserpent{
    background-color: #4bc6b9;
}
.b_colorCcinereous{
    background-color: #93827f; 
}
.b_colorPpine{
    background-color: #6ba292;
}
.colorWgreen{
    color: #319433;
}
.colorFcrayola{
    color: #c750c7;
}
.colorSserpent{
    color: #4bc6b9;
}
.colorCcinereous{
    color: #93827f; 
}
.colorPpine{
    color: #6ba292;
}
 
 
